<div class="signature-field" [ngClass]="{'has-focus': hasFocus}">
    <div *ngIf="label" class="label">{{ label }}</div>
    <div class="signature-box" (window:resize)="beResponsive()" #signatureFieldContainer>
        <div *ngIf="!readonly">
            <signature-pad [options]="options" (onBeginEvent)="drawBegin()" (onEndEvent)="drawComplete()"></signature-pad>
        </div>
        <div *ngIf="readonly">
            <img [src]="signature" alt="Signature" class="signature">
        </div>
    </div>
</div>