.helper-text {
    padding-top: 4px;
    font-size: 1.2rem;
    color: $list-border-color;

    &:after {
        content: "\200b"; // unicode zero width space character
    }

    .md & {
        color: $label-md-text-color;
        padding-left: $item-md-padding-left;
        padding-right: $item-md-padding-right;
    }

    .ios & {
        padding-left: $item-ios-padding-left;
        padding-right: $item-md-padding-right;
    }

    &.error, .error {
        color: color($colors, danger);
    }
}