.helper-text {
    padding-top: 4px;
    font-size: 1.2rem;
    color: $list-border-color;

    &:empty {
        padding: 0;
    }

    .md & {
        color: $label-md-text-color;
        padding-left: $item-md-padding-left;
    }

    .ios & {
        padding-left: $item-ios-padding-left;
    }

    &.error {
        color: color($colors, danger);
    }
}